.container {
    width: 100%;
}
.heading_row {
    display: flex;
    justify-content: space-between;
    height: 50px;
    background: var(--blue-100);
}
.heading {
    display: flex;
    align-items: center;
    width: calc(100% / 7);
    text-transform: capitalize;
    height: 100%;
    color: white;
    font-weight: 600;
}
.heading:first-child {
    width: 30%;
}
.heading_content {
    margin-left: 5%;
}

.body_row {
    display: flex;
    height: 50px;
    border-bottom: 1px solid var(--grey-line);
}
.body_row_cell {
    height: 100%;
    width: calc(100% / 7);
    display: flex;
    align-items: center;
}
.body_row_cell:first-child {
    width: 30%;
}
.body_row_cell_content {
    margin: auto 0;
    margin-left: 5%;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 500;
    color: var(--grey-subheading);
}